* {
	box-sizing: border-box;
}

body {
	background: lightgrey;
}

html {
	overflow: hidden
}


#wrap {
	width: 1000px;
	min-height: 100%;
	margin: 0 auto;
	display:flex;
	justify-content:center;
	align-items:center;
}

h1 {
	text-align: center
}

/*trinh bay bo cuc truoc*/

.container{
	margin: 0 auto;
	width: 700px;
	height: 480px;
	border: 1.5px lightgrey outset;
	background: white;
}

#phim {
	width: 650px;
	margin-left: auto;
	margin-right: auto;
	display: table;
	overflow: hidden;
}

#hienthidiv { 
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
	width: 600px;
	height: 50px;
	border: 2px ridge lightgrey;
}

#hienthibieuthucdiv{
	display: none;
}

#ketquadiv { 
	margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
	width: 600px;
	height: 50px;
	border: 2px ridge lightgrey;
}

button {
	margin: 5 auto;
	margin-left: 5px;
    margin-right: 5px;
	width: 120px;
	height: 50px;
	overflow: hidden;
	float: left;
}


/*		button{ display: block; }*/
#c {
	height: 110px;
}


.nut {
	text-align: center;
}




/*to mau sau*/

.container{
	position: relative
}

.container:before, .container:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 30px 15px #777;
  transform: rotate(-8deg);
}

.container:after {
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

body {
	background-image:  url("background resize.jpg");
 	background-repeat: repeat;
 	background-attachment: fixed;
 	background-position: center; 
}

button {
  border-radius: 4px;
  box-shadow: 0px 1px 2px #666666;
  font-family: Georgia;
  color: #050505;
  font-size: 20px;
  background: #ebf7ff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
 background: #dceefa;
  text-decoration: none;
}

#hienthidiv, #ketquadiv, #hienthibieuthucdiv {
	border-radius: 4px;
	 box-shadow: 0px 1px 2px #666666;
	 font-family: Georgia;
	 color: #050505;
	 font-size: 20px;
	 background: #ebf7ff;
	 padding: 10px 20px 10px 20px;
	 text-decoration: none;
}

 #back {
	 background: #fff1d4;
}

#back:hover {
	 background: #ffe7c9;
}

#C {
background:#ffe3a8
}

#C:hover {
background:#fac39e
}

#ketqua {
	  background: #96c4ff;
}

#ketqua:hover {
	   background: #7fc3fa;
}