.App {
  text-align: center;
}

.lightgreen {
  color: lightgreen;
}

.bold {
  font-weight: bold;
}


.App button {
  background-color: lightgreen;
  color: white;
  font: inherit;
  border: 1px solid green;
  padding: 8px;
  cursor: pointer
}

.App button:hover {
  background-color: darkcyan;
  border: 1px solid black;
}

.App button.coral {
  background-color: lightcoral;
}

.App button.coral:hover {
  background-color: coral;
  color: black;
}