<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Demo jade
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<!--build:css css/styles.min.css-->
	link(rel="stylesheet", href="css/styles.css")
	link(rel="stylesheet", href="css/styles_of_something.css")
	<!--endbuild-->

body
	header
		nav(class="navbar navbar-inverse navbar-fixed-top")
			div(class="container-fluid")
				div(class="navbar-header")
					a(class="navbar-brand" href="#") MY PAGES

				ul(class="nav navbar-nav")
					li(class="active")
						a(href="#") Home
					li
						a(href="#product") Product
					li
						a(href="#service") Service
					li
						a(href="#about") About us

	article(class="container") 
		div(class="row row2" id="product")
			div(class="col-md-4")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iusto, saepe, ea ipsam reiciendis nemo voluptatibus molestias doloribus, repudiandae temporibus iure incidunt deserunt voluptate non esse dignissimos. Obcaecati repellat magni omnis alias dolorum quasi exercitationem, numquam. Est amet itaque, deserunt, laudantium consequuntur voluptas labore mollitia, iusto maiores tempora maxime aperiam ducimus dolorum officiis dicta quaerat natus. Est aliquid nam nihil pariatur dolorum nobis ullam incidunt corporis, reprehenderit exercitationem, dolore laudantium totam ad at illum ea minima amet accusantium suscipit facere, rerum tempora harum, vitae voluptate soluta. Laborum suscipit animi tempora, ullam autem odio reprehenderit, sunt totam eaque officiis ducimus repudiandae!
			div(class="col-md-4")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iusto, saepe, ea ipsam reiciendis nemo voluptatibus molestias doloribus, repudiandae temporibus iure incidunt deserunt voluptate non esse dignissimos. Obcaecati repellat magni omnis alias dolorum quasi exercitationem, numquam. Est amet itaque, deserunt, laudantium consequuntur voluptas labore mollitia, iusto maiores tempora maxime aperiam ducimus dolorum officiis dicta quaerat natus. Est aliquid nam nihil pariatur dolorum nobis ullam incidunt corporis, reprehenderit exercitationem, dolore laudantium totam ad at illum ea minima amet accusantium suscipit facere, rerum tempora harum, vitae voluptate soluta. Laborum suscipit animi tempora, ullam autem odio reprehenderit, sunt totam eaque officiis ducimus repudiandae!
			div(class="col-md-4")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iusto, saepe, ea ipsam reiciendis nemo voluptatibus molestias doloribus, repudiandae temporibus iure incidunt deserunt voluptate non esse dignissimos. Obcaecati repellat magni omnis alias dolorum quasi exercitationem, numquam. Est amet itaque, deserunt, laudantium consequuntur voluptas labore mollitia, iusto maiores tempora maxime aperiam ducimus dolorum officiis dicta quaerat natus. Est aliquid nam nihil pariatur dolorum nobis ullam incidunt corporis, reprehenderit exercitationem, dolore laudantium totam ad at illum ea minima amet accusantium suscipit facere, rerum tempora harum, vitae voluptate soluta. Laborum suscipit animi tempora, ullam autem odio reprehenderit, sunt totam eaque officiis ducimus repudiandae!
		div(class="row row2" id="service")
			div(class="sideA")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iusto, saepe, ea ipsam reiciendis nemo voluptatibus molestias doloribus, repudiandae temporibus iure incidunt deserunt voluptate non esse dignissimos. Obcaecati repellat magni omnis alias dolorum quasi exercitationem, numquam. Est amet itaque, deserunt, laudantium consequuntur voluptas labore mollitia, iusto maiores tempora maxime aperiam ducimus dolorum officiis dicta quaerat natus. Est aliquid nam nihil pariatur dolorum nobis ullam incidunt corporis, reprehenderit exercitationem, dolore laudantium totam ad at illum ea minima amet accusantium suscipit facere, rerum tempora harum, vitae voluptate soluta. Laborum suscipit animi tempora, ullam autem odio reprehenderit, sunt totam eaque officiis ducimus repudiandae!
			div(class="sideB")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iusto, saepe, ea ipsam reiciendis nemo voluptatibus molestias doloribus, repudiandae temporibus iure incidunt deserunt voluptate non esse dignissimos. Obcaecati repellat magni omnis alias dolorum quasi exercitationem, numquam. Est amet itaque, deserunt, laudantium consequuntur voluptas labore mollitia, iusto maiores tempora maxime aperiam ducimus dolorum officiis dicta quaerat natus. Est aliquid nam nihil pariatur dolorum nobis ullam incidunt corporis, reprehenderit exercitationem, dolore laudantium totam ad at illum ea minima amet accusantium suscipit facere, rerum tempora harum, vitae voluptate soluta. Laborum suscipit animi tempora, ullam autem odio reprehenderit, sunt totam eaque officiis ducimus repudiandae!
			div(class="center")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime unde autem, iste eius eligendi suscipit, provident magni, ipsam, dolorem soluta rem voluptates. Nemo aliquam rem, eum provident. Qui quasi dolorum dolores sequi, iure! Odit perferendis illum veritatis nam, harum, reprehenderit dolor non qui illo voluptas ea neque sunt nostrum consequuntur quidem expedita quaerat recusandae vitae eos nobis impedit, ipsa eaque, alias corrupti. Aut voluptate, quasi fugit, placeat, laudantium earum asperiores doloremque ullam, enim soluta aspernatur. Quibusdam eius similique assumenda debitis quidem obcaecati amet repellendus necessitatibus ducimus inventore, minima commodi doloribus libero consequatur cumque sit soluta corporis sint aperiam ab harum magnam suscipit quas quod. Amet distinctio porro, consectetur ratione inventore ullam delectus quaerat voluptate, commodi itaque nihil perspiciatis odit eveniet, corrupti fuga. Hic id voluptatum dicta ullam doloremque unde dolorem deserunt earum voluptatem aspernatur temporibus impedit, cum dolorum odit nulla reiciendis iusto, totam quod blanditiis nisi quasi! Molestias, odit aut, ab mollitia fugit perspiciatis deleniti esse ipsum numquam itaque vero tempore illum ea, eum a qui quo, hic ad voluptatum nulla voluptate. Deserunt laboriosam repudiandae eveniet fugiat, ullam earum vitae illum distinctio sed dolor incidunt eos provident non! Sint magnam commodi similique soluta sequi quae illum iusto est aut. Iure ad, tenetur, eligendi illum odio earum corporis! Repudiandae ad maiores harum id, dignissimos, ratione sed eius et! Aut sunt aspernatur eos quas saepe veniam, eaque nostrum tenetur! Velit, nihil, earum! Suscipit facilis laborum debitis nesciunt doloribus quidem eveniet quod, iure deserunt tempore adipisci eius fuga, voluptatem! Voluptate aperiam nobis illum deleniti! Velit est odio eum aliquid, impedit facere voluptas placeat veritatis doloremque maxime, distinctio. Accusantium nam tempore quas libero odio officia officiis perspiciatis pariatur iusto quia reiciendis non sit error, minus tenetur fuga blanditiis rem laboriosam provident, eaque adipisci! Vero dicta veniam aliquid ea sit, neque, maxime eligendi commodi suscipit.
		div(class="row row3" id="about")
			div(class="col-md-4")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iusto, saepe, ea ipsam reiciendis nemo voluptatibus molestias doloribus, repudiandae temporibus iure incidunt deserunt voluptate non esse dignissimos. Obcaecati repellat magni omnis alias dolorum quasi exercitationem, numquam. Est amet itaque, deserunt, laudantium consequuntur voluptas labore mollitia, iusto maiores tempora maxime aperiam ducimus dolorum officiis dicta quaerat natus. Est aliquid nam nihil pariatur dolorum nobis ullam incidunt corporis, reprehenderit exercitationem, dolore laudantium totam ad at illum ea minima amet accusantium suscipit facere, rerum tempora harum, vitae voluptate soluta. Laborum suscipit animi tempora, ullam autem odio reprehenderit, sunt totam eaque officiis ducimus repudiandae!
			div(class="col-md-4")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iusto, saepe, ea ipsam reiciendis nemo voluptatibus molestias doloribus, repudiandae temporibus iure incidunt deserunt voluptate non esse dignissimos. Obcaecati repellat magni omnis alias dolorum quasi exercitationem, numquam. Est amet itaque, deserunt, laudantium consequuntur voluptas labore mollitia, iusto maiores tempora maxime aperiam ducimus dolorum officiis dicta quaerat natus. Est aliquid nam nihil pariatur dolorum nobis ullam incidunt corporis, reprehenderit exercitationem, dolore laudantium totam ad at illum ea minima amet accusantium suscipit facere, rerum tempora harum, vitae voluptate soluta. Laborum suscipit animi tempora, ullam autem odio reprehenderit, sunt totam eaque officiis ducimus repudiandae!
			div(class="col-md-4")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa iusto, saepe, ea ipsam reiciendis nemo voluptatibus molestias doloribus, repudiandae temporibus iure incidunt deserunt voluptate non esse dignissimos. Obcaecati repellat magni omnis alias dolorum quasi exercitationem, numquam. Est amet itaque, deserunt, laudantium consequuntur voluptas labore mollitia, iusto maiores tempora maxime aperiam ducimus dolorum officiis dicta quaerat natus. Est aliquid nam nihil pariatur dolorum nobis ullam incidunt corporis, reprehenderit exercitationem, dolore laudantium totam ad at illum ea minima amet accusantium suscipit facere, rerum tempora harum, vitae voluptate soluta. Laborum suscipit animi tempora, ullam autem odio reprehenderit, sunt totam eaque officiis ducimus repudiandae!


				
	footer(class="well container-fluid")
		div &copy;2018

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	

	<!--build:js js/main.min.js -->
	<script src="js/lib/lib.js"></script>
	<script src="js/main.js"></script>
	<!-- endbuild -->
	
	


	