* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro-Regular.woff') format('woff'),
	url('../fonts/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Roboto', sans-serif;
}


img {
	width: 100%;
}

/*mobile first*/

a {
	text-decoration:none;
	color: inherit;
}

input, label {
	cursor: pointer;
}

input, input:focus{
	outline: none;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}


.wrap {
	max-width: 1903px;
	margin: 0 4px;
}

#content {
	max-width: 1182px;
	margin: auto;
}

#slider .item {
	width: 100%;
}


#slider {
	margin-bottom: 26px;
	position: relative;
}

#slider .owl-nav {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#slider .owl-prev {
	float: left;
	margin-left: 20px;
	background-color: transparent;
	border: 2px solid #5b596c;
	border-radius: 50%;
	color: #5b596c;
}

#slider .owl-prev i {
	font-weight: bold;
}

#slider .owl-next {
	float: right;
	margin-right: 20px;
	background-color: transparent;
	border: 2px solid #5b596c;
	border-radius: 50%;
	color: #5b596c;
	font-weight: bold;
}

#slider .owl-next i {
	font-weight: bold;
}


#slider {
	position: relative;
}

.header-minitext{
	display: none;
}

.header-text {
	top: 2%;
	left: 12%;
	position: absolute;
	color: #fff;
	z-index: 1;
}

.header-text h2 {
	font-family: 'Myriad Pro';
	text-transform: uppercase;
	font-size: 10px;
	margin-bottom: 5px;
	font-weight: lighter;
}

.header-text h1 {
	font-family: 'Myriad Pro';
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}

.header-text h1:nth-child(3) {
	margin-bottom: 5px;
}


.header-text a {
	font-size: 10px;
	border: 2px solid #fff;
	padding: 2px 8px;
}

header {
	position: relative;
}

.countdown-big-box {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	text-align: center; 
}

.countdown-box {
	display: inline-block;
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	padding: 0px 0px;
	text-align: center;
	max-width: 1182px;
/*	left: 50%;
margin-left: -170px;*/
}

.countdown-row1 {
	overflow: auto;
	margin-bottom: 5px;
	padding-right: 35px;
	padding-left: 35px;
}

.countdown-row1 > div {
	float: left;
	width: 14.28%;
	text-align: center;
}

.countdown-row1 h1 {
	font-size: 22px;

}

.countdown-row1 h6 {
	font-size: 7px;
}

.countdown-row2 {
	font-size: 12px;
	margin-bottom: 5px;
}

.countdown-row2  .email {
	width: 30%;
	margin-right: 5px;
	border: none;
	padding: 2px 5px;
}

.countdown-row2  .submit {
	padding: 2px 5px;
	margin-right: 5px;
	color: #000;
	background-color: #ffe400;
	cursor: pointer;
	border: none;
	font-weight: 700;
}



.content-t1 .date {
	float: left;
	width: 25%;
}

.content-t1 .date  h2 {
	font-family: "Myriad Pro";
	text-transform: uppercase;
	text-align: center;
	font-weight: 200;
}

.content-t1 .date  h1 {
	font-family: "Myriad Pro";
	text-transform: uppercase;
	color: #0190ff;
	text-align: center;
	margin-bottom: 15px;
}

.content-t1 .t1-text {
	float: left;
	width: 75%;
}


.content-t1 .t1-text h3 {
	margin-bottom: 10px;
	font-size: 18px;
}

.content-t1 .t1-text p {
	margin-bottom: 10px;
	font-size: 12px;
}

.content-t1 .t1-text h6 {
	font-size: 12px;
}

.content-t1 {
	overflow: auto;
	margin-bottom: 32px;
}



.left-side {
	display: none;
}

.left1 {
	width: 70%;
	margin: auto;	
	margin-bottom: 32px;
	position: relative;
	overflow: hidden;
}


.left1-text {
	position: absolute;
	left: 10%;
	top: 10%;
}

.left1-text > div {
	margin-bottom: 10%;
}

.left1-text h3 {
	text-transform: uppercase;
	font-size: 20px;
}

.left1-text p {
	font-size: 15px;
	margin-right: 8%;
}


.left1-text h2 {
	float: right;
	text-transform: uppercase;
	font-size: 24px;	
	margin-right: 15%;
}

.left1-text h1 {
	float: right;	
	text-transform: uppercase;
	margin-left: 45%;	
	font-size: 30px;
	margin-right: 10%;
}


@media  only screen and  (max-width: 375px) {
	.left1-text p {
		font-size: 14px;
	}

	.left1-text h2 {
		font-size: 20px;	
		margin-right: 15%;	
	}

	.left1-text h1 {
		font-size: 26px;	
		margin-right: 10%;		
	}

}

.left2 {
	width: 70%;
	margin: auto;	
	margin-bottom: 32px;
	position: relative;
}


.left2-text {
	position: absolute;
	top: 8%;
	left: 34%;
	color: #fff;
	text-transform: uppercase;
}

.middle-row1 {
	margin-bottom: 32px;
	position: relative;
}

.middle-row1-text {
	position: absolute;
	left: 0;
	bottom: 12%;

}

.middle-row1-text  h4 {
	display: inline-block;
	padding: 6px 14px 6px 8px;
	background-color: #ffe400;
	color: #000;
}

.middle-row1-text  h3 {
	display: inline-block;
	padding: 6px 25px 6px 8px;
	background-color: #fff;
}


.middle-row2 {
	overflow: auto;
	margin-bottom: 32px;
}

.middle-row2 > div {
	float: left;
	width: 47.5%;
}

.middle-row2-right {
	margin-right:  5%
}

.middle-row2 h3 {
	padding: 6px 14px 6px 8px;
	background-color: #0090ff;
	color: #fff;
	display: inline-block;
	font-size: 16px;	
}	

.right-row1 {
	position: relative;
	margin-bottom: 32px;
}

.right-row1-text {
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: auto;
}

.right-row1-text h3 {
	font-size: 18px;
	color: #0090ff;
	background-color: #fff;
	padding: 7px 9px 7px 37px;
	text-transform: uppercase;
}

.right-row1-text h4 {
	float: right;
	color: #ffe400;
	background-color: #000;
	padding: 7px 10px 7px 21px;
} 




.right-row2 {
	position: relative;
	margin-bottom: 32px;
	overflow: auto;
}

.right-row2-text {
	position: absolute;;
	text-transform: uppercase;
	top: 5%;
	left: 5%;
	z-index: 1;
	font-weight: bold;
	color: #fff;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


footer {
	position: relative;
	overflow: hidden;
	background-color: rgba(127,127,127,0.5);

}

footer > img {
	z-index: -1;
	width: 200%
}

footer .footer-big-box {
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 100%;
	/*transform: translate(-50%, -50%);*/
	background-color: rgba(114,129,140,0.5);
	display: flex;
	align-items: center;
}

.footer-box {
	max-width: 1182px;
}

.footer-row1-left {
	display: none;
	font-family: 'Myriad Pro';
}

.footer-row1-right .subscrible {
	padding: 4px 8px;
	color: #000;
	background-color: #ffe400;
	cursor: pointer;
	border: none;
	border-radius: 2px;
	margin-top: 4px;
	font-weight: 600
}

.footer-row1-right  {
	margin-left: 20px;

}

.footer-row1-right input {
	margin-bottom: 5px;
}

.footer-row1-right input[type='text'] {
	width: 75%;
	font-size: 10px;
	padding: 2px;
	border: 1px solid #fff;
	margin-top: 4px;
}

.footer-row1-right input#yourname {
	border-color: #0090ff;
}

.footer-row1-right label {
	font-size: 10px;
	font-weight: bold;
	color: #fff;
}

.footer-row1 {
	padding-top: 6px;
	padding-bottom: 6px;

}  

.footer-row2 {
	color: rgba(255,255,255,0.5); ;
	font-size: 9px;
	margin-left: 20px;
	margin-right: 20px;
	overflow: auto;
	border-top: 1px solid grey;
} 

.footer-row2 .footer-social {
	display: inline;
	font-size: 12px;
	margin-right: 5px;

	/*	border-radius: 50%;*/
	margin-bottom: 4px;

}

.footer-row2 .footer-social a {
	padding: 2px 4px;
	text-align: center;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5);
}


.footer-row2-left {
	margin-top:  6px;
	margin-bottom: 6px;
}

.footer-row2  .footer-row2-left p {
	margin-bottom: 3px;
}

.footer-row2 .footer-social  i {
	color: rgb(127,127,127);
}


/*---------------------------------------------------------------------------*/
/*tablet style*/


@media  only screen and  (min-width: 768px) {

	.wrap {
		margin: 0 auto;
	}

	#content {
		overflow: auto;
		margin: 0 auto;
	}

	.left-side {
		display: block;
	}

	.left-side {
		margin-left: 1%;	
		float: left;
		margin-right: 2.5%;	
		width: 30.5%;
	}

	.left-side .left1 {
		width: 100%;
	}

	.left-side .left2 {
		width: 100%
	}

	.middle {
		float: left;
		width: 65%;
		margin-right: 1%
	}

	.right {
		margin: 0 10px 32px 10px;
	}

	footer > img {
		z-index: -1;
		width: 100% 
	}


	.footer-row1-left {
		display: block;
		float: left;
		width: 47.5%;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}


	.footer-row1-left h1 {
		font-size: 28px;
		color: #0090ff;
		margin-bottom: 10px;
	}

	.footer-row1-left p {
		font-size: 10px;
		color: #fff;
	}

	.footer-row1-right {
		float: left;
		width: 35%;
		margin-right: 2.5%;
	}


	.footer-row1-right input[type='text'] {
		width: 100%;
		font-size: 12px;
		padding: 2px;
		border: 1px solid #fff;
		margin-top: 4px; 
	}

	.footer-row2-left {
		float: left;
		width: 47.5%;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}

	.footer-row2-right {
		float: left;
		width: 35%;
		margin-right: 2.5%;
		margin-bottom: 6px;
		margin-top: 6px;
	}

	.footer-row2-right p {
		margin-left: 30px;
	}

	#slider .owl-prev, #slider .owl-next  {
		padding: 4px 8px;
	}

	#slider .owl-nav  i {
		font-size: 28px;
	}

	#slider .owl-prev {
		margin-left: 30px;
	}

	#slider .owl-next {
		margin-right: 30px;
	}

	.header-text {
		top: 28%;
		left: 17%;
	}

	.header-text h2 {
		font-size: 16px;
		margin-bottom: 8px;
		font-weight: lighter;
	}

	.header-text h1 {
		font-size: 32px;
		font-weight: 700;
	}

	.header-text h1:nth-child(3) {
		margin-bottom: 8px;
	}


	.header-text a {
		font-size: 14px;
		border: 1.5px solid #fff;
		padding: 6px 15px;
	}

	.header-minitext {
		display: block;
		z-index: 1;
		color: #fff;
		position: absolute;
		top: 0;
		background-color:  rgba(51,51,51,0.8);
		font-size: 9px;
		width: 100%;
		padding: 5px 0px; 
		text-align: center;
	}

	.header-minitext span {
		margin-right: 10px;
	}

	.countdown-box {
		padding: 5px 30px;
	}

	.countdown-row1 {
		overflow: auto;
		margin-bottom: 8px;
		padding-right: 35px;
		padding-left: 35px;
	}

	.countdown-row1 > div {
		float: left;
		width: 14.28%;
		text-align: center;
	}

	.countdown-row1 h1 {
		font-size: 24px;

	}

	.countdown-row1 h6 {
		font-size: 8px;
	}

	.countdown-row2 {
		font-size: 12px;
		margin-bottom: 8px;
	}

	.countdown-row2  .email {
		width: 30%;
		margin-right: 5px;
		padding: 4px 8px;
	}

	.countdown-row2  .submit {
		padding: 4px 8px;
		margin-right: 5px;
		color: #000;
		background-color: #ffe400;
		cursor: pointer;
		border: none;
	}

	.t1-text {
		padding-right: 25%;
	}

	.left1-text h3 {
		text-transform: uppercase;
		font-size: 20px;
	}

	.left1-text p {
		font-size: 14px;
		margin-right: 8%;
	}


	.left1-text h2 {
		float: right;
		text-transform: uppercase;
		font-size: 26px;	
		margin-right: 15%;
	}

	.left1-text h1 {
		float: right;	
		text-transform: uppercase;
		margin-left: 45%;	
		font-size: 30px;
		margin-right: 10%;
	}

	.right-row2-text {
		font-size: 28px;
	}

	.right-row1-text  h3{
		font-size: 28px;
	}

	.right-row1-text  h4{
		font-size: 24px;
	}



}


/*---------------------------------------------------------------------------*/
/*destop style*/

@media  only screen and  (min-width: 1024px) {
	.left-side {
		float: left;
		margin-right: 1%;	
		width: 19%;
		margin-left:  0
	}

	.middle {
		float: left;
		width: 39.5%;
		margin-right: 1%;
	}


	.right {
		float: left;
		width: 39.5%;
		margin: 0px 0px 32px 0px;
	}

	#content {
		overflow: auto;
		width: 99%;
		margin: 0 auto;
	}

	header {
		margin-bottom: 20px;	
	}

	footer {
		margin-top: 20px;	
	}


	#slider .owl-prev, #slider .owl-next  {
		padding: 4px 8px;
	}

	#slider .owl-nav  i {
		font-size: 32px;
	}

	#slider .owl-prev {
		margin-left: 46px;
	}

	#slider .owl-next {
		margin-right: 46px;
	}

	.header-text h2 {
		font-size: 18px;
		margin-bottom: 10px;
		font-weight: lighter;
	}

	.header-text h1 {
		font-size: 40px;
		font-weight: 700;
	}

	.header-text h1:nth-child(3) {
		margin-bottom: 10px;
	}


	.header-text a {
		font-size: 14px;
		border: 1.5px solid #fff;
		padding: 6px 15px;
	}

	.header-minitext {
		font-size: 11px;
	}

	.header-minitext span {
		margin-right: 15px;
	}

	.countdown-box {
		padding: 8px 75px; 
	}


	.countdown-row1 {
		overflow: auto;
		margin-bottom: 8px;
		padding-right: 4px;
		padding-left: 4px;
	}

	.countdown-row1 > div {
		float: left;
		width: 14.28%;
		text-align: center;
	}

	.countdown-row1 h1 {
		font-size: 28px;

	}

	.countdown-row1 h6 {
		font-size: 8px;
	}

	.countdown-row2 {
		font-size: 12px;
		margin-bottom: 8px;
	}

	.countdown-row2  .email {
		width: 30%;
		margin-right: 5px;
		padding: 5px 12px;
	}

	.countdown-row2  .submit {
		padding: 5px 12px;
		margin-right: 5px;
		color: #000;
		background-color: #ffe400;
		cursor: pointer;
		border: none;
	}

	.content-t1 .date h1 {
		font-size: 36px;
	}


	.content-t1 .date h2 {
		font-size: 28px;
	}


	.content-t1 .t1-text h3 {
		margin-bottom: 10px;
		font-size: 22px;
	}

	.content-t1 .t1-text p {
		margin-bottom: 10px;
		font-size: 16px;
	}

	.content-t1 .t1-text h6 {
		font-size: 16px;
	}

	.left1-text h3 {
		text-transform: uppercase;
		font-size: 16px;
	}

	.left1-text p {
		font-size: 12px;
		margin-right: 8%;
	}


	.left1-text h2 {
		float: right;
		text-transform: uppercase;
		font-size: 22px;	
		margin-right: 15%;
	}

	.left1-text h1 {
		float: right;	
		text-transform: uppercase;
		margin-left: 45%;	
		font-size: 24px;
		margin-right: 10%;
	}

	.left2-text {
		font-size: 12px;
	}

	.right-row2-text {
		font-size: 16px;
	}

	.right-row1-text  h3{
		font-size: 16px;
	}

	.right-row1-text  h4{
		font-size: 14px;
	}



	footer .footer-big-box {
		position: absolute;
		width: 80%;
		top: 50%;
		left: 50%;
		height: 100%;
		transform: translate(-50%, -50%);
		background-color: rgba(114,129,140,0.5);
		display: flex;
		align-items: center;
	}

	.footer-row1 {
		margin-bottom: 20px;
	}


	.footer-row1-left {
		display: block;
		float: left;
		width: 47.5%;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}


	.footer-row1-left h1 {
		font-size: 28px;
		margin-bottom: 15px;
	}

	.footer-row1-left p {
		font-size: 10px;
	}


	.footer-row1-right input[type='text'] {
		width: 100%;
		font-size: 14px;
		padding: 4px;
		border: 1px solid #fff;
		margin-top: 4px; 
	}

	.footer-row1-right label {
		font-size: 14px;
		margin-top: 6px; 
	}

	.footer-row1-right .subscrible {
		padding: 5px 12px;
		border-radius: 2px;
		margin-top: 4px;
		font-weight: 600;
		font-size: 14px;
	}


	.footer-row2 {
		margin-left: 20px;
		margin-right: 80px; 

	}

	.footer-row2-left {
		font-size: 8px;
		margin-bottom: 8px;
		margin-top: 8px;
		

	}

	.footer-row2-left p {
		margin-right: 45px;
		
	}
	.footer-row2-left > div {
		margin-top: 10px;
	}



	.footer-row2-right {
		font-size: 8px;
		margin-bottom: 8px;
		margin-top: 8px;
	}

	.footer-row2-right p {
		margin-left: 45px;
	}

	.footer-last-line {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(24,52,74,0.5);
		height: 5%;
	}

}


/*---------------------------------------------------------------------------*/


@media  only screen and  (min-width: 1440px) {
	.left-side {
		float: left;
		margin-right: 1%;	
		width: 19%;
		margin-left:  0
	}

	.middle {
		float: left;
		width: 39.5%;
		margin-right: 1%;
	}


	.right {
		float: left;
		width: 39.5%;
		margin: 0px 0px 32px 0px;
	}

	#content {
		overflow: auto;
		width: 99%;
		margin: 0 auto;
	}



	header {
		margin-bottom: 25px;	
	}

	footer {
		margin-top: 25px;	
	}

	#slider .owl-prev, #slider .owl-next  {
		padding: 6px 12px;
	}

	#slider .owl-nav  i {
		font-size: 36px;
	}

	#slider .owl-prev {
		margin-left: 64px;
	}

	#slider .owl-next {
		margin-right: 46px;
	}

	.header-text h2 {
		font-size: 28px;
		margin-bottom: 12px;
		font-weight: lighter;
	}

	.header-text h1 {
		font-size: 50px;
		font-weight: 700;
	}

	.header-text h1:nth-child(3) {
		margin-bottom: 12px;
	}

	.header-text a {
		font-size: 14px;
		border: 1.5px solid #fff;
		padding: 8px 20px;
	}

	.header-minitext {
		font-size: 15px;
	}

	.header-minitext span {
		margin-right: 25px;
	}

	.countdown-box {
		padding: 22px 180px;
	}


	.countdown-row1 {
		overflow: auto;
		margin-bottom: 12px;
		padding-right: 4px;
		padding-left: 4px;
	}

	.countdown-row1 > div {
		float: left;
		width: 14.28%;
		text-align: center;
	}

	.countdown-row1 h1 {
		font-size: 32px;

	}

	.countdown-row1 h6 {
		font-size: 10px;
	}

	.countdown-row2 {
		font-size: 14px;
		margin-bottom: 8px;
	}

	.countdown-row2  .email {
		padding: 8px 5px;
		width: 30%;
		margin-right: 5px;
		font-size: 14px;
	}

	.countdown-row2  .submit {
		font-size: 14px;
		padding: 8px 18px;
		margin-right: 5px;
		color: #000;
		background-color: #ffe400;
		cursor: pointer;
		border: none;
	}



	.content-t1 .date h1 {
		font-size: 40px;
	}


	.content-t1 .date h2 {
		font-size: 30px;
	}


	.content-t1 .t1-text h3 {
		margin-bottom: 10px;
		font-size: 30px;
	}

	.content-t1 .t1-text p {
		margin-bottom: 10px;
		font-size: 16px;
	}

	.content-t1 .t1-text h6 {
		font-size: 16px;
	}

	.left1-text h3 {
		text-transform: uppercase;
		font-size: 18px;
	}

	.left1-text p {
		font-size: 12px;
		margin-right: 8%;
	}


	.left1-text h2 {
		float: right;
		text-transform: uppercase;
		font-size: 24px;	
		margin-right: 15%;
	}

	.left1-text h1 {
		float: right;	
		text-transform: uppercase;
		margin-left: 45%;	
		font-size: 28px;
		margin-right: 11%;
	}

	.left2-text {
		font-size: 14px;
	}

	.right-row2-text {
		font-size: 16px;
	}

	.right-row1-text  h3{
		font-size: 16px;
	}

	.right-row1-text  h4{
		font-size: 14px;
	}

	.footer-row1 {
		margin-bottom: 32px;
	}

	.footer-row1-left h1 {
		font-size: 36px;
		margin-bottom: 15px;
	}

	.footer-row1-left p {
		font-size: 14px;
	}


	.footer-row1-right input[type='text'] {
		width: 100%;
		font-size: 16px;
		padding: 4px;
		border: 1px solid #fff;
		margin-top: 8px; 
	}


	.footer-row1-right label {
		font-size: 16px;
		margin-top: 8px; 
	}

	.footer-row1-right .subscrible {
		padding: 6px 25px;
		border-radius: 2px;
		margin-top: 8px;
		font-weight: 600;
		font-size: 16px;
		border-radius: 4px;
	}


	.footer-row1-right .subscrible 


	.footer-row2 {
		margin-left: 20px;
		margin-right: 80px; 

	}

	.footer-row2-left {
		font-size: 12px;
		margin-bottom: 12px;
		margin-top: 12px;

	}


	.footer-row2-left p {
		margin-right: 45px;
		
	}
	.footer-row2-left > div {
		margin-top: 12px;
	}


	.footer-row2-right {
		font-size: 12px;
		margin-bottom: 12px;
		margin-top: 12px;
	}

	.footer-row2-right p {
		margin-left: 45px;
	}

	.footer-row2 .footer-social {
		font-size: 14px;
	}

}



/*---------------------------------------------------------------------------*/


@media  only screen and  (min-width: 1903px) {
	.left-side {
		float: left;
		margin-right: 1%;	
		width: 19%;
		margin-left:  0
	}

	.middle {
		float: left;
		width: 39.5%;
		margin-right: 1%;
	}


	.right {
		float: left;
		width: 39.5%;
		margin: 0px 0px 32px 0px;
	}

	#content {
		overflow: auto;
		width: 99%;
		margin: 0 auto;
	}

	header {
		margin-bottom: 30px;	
	}

	footer {
		margin-top: 30px;	
	}


	#slider .owl-prev, #slider .owl-next  {
		padding: 8px 15px;
	}

	#slider .owl-nav  i {
		font-size: 48px;
	}

	#slider .owl-prev {
		margin-left: 86px;
	}

	#slider .owl-next {
		margin-right: 46px;
	}

	.header-text h2 {
		font-size: 32px;
		margin-bottom: 12px;
		font-weight: lighter;
	}

	.header-text h1 {
		font-size: 72px;
		font-weight: 700;
	}

	.header-text h1:nth-child(3) {
		margin-bottom: 12px;
	}

	.header-text a {
		font-size: 20px;
		border: 2px solid #fff;
		padding: 10px 26px;
	}

	.header-minitext {
		font-size: 20px;
	}

	.header-minitext span {
		margin-right: 40px;
	}

	.countdown-box {
		padding: 35px 250px;
	}


	.countdown-row1 {
		overflow: auto;
		margin-bottom: 15px;
		padding-right: 4px;
		padding-left: 4px;
	}

	.countdown-row1 > div {
		float: left;
		width: 14.28%;
		text-align: center;
	}

	.countdown-row1 h1 {
		font-size: 40px;

	}

	.countdown-row1 h6 {
		font-size: 16px;
	}

	.countdown-row2 {
		font-size: 16px;
		margin-bottom: 15px;
	}

	.countdown-row2  .email {
		padding: 8px 5px;
		width: 30%;
		margin-right: 5px;
		font-size: 16px;
	}

	.countdown-row2  .submit {
		font-size: 16px;
		padding: 8px 18px;
		margin-right: 5px;
		color: #000;
		background-color: #ffe400;
		cursor: pointer;
		border: none;
	}


	.content-t1 .date h1 {
		font-size: 50px;
	}


	.content-t1 .date h2 {
		font-size: 40px;
	}


	.content-t1 .t1-text h3 {
		margin-bottom: 14px;
		font-size: 40px;
	}

	.content-t1 .t1-text p {
		margin-bottom: 14px;
		font-size: 18px;
	}

	.content-t1 .t1-text h6 {
		font-size: 18px;
	}

	.left1-text h3 {
		text-transform: uppercase;
		font-size: 18px;
	}

	.left1-text p {
		font-size: 14px;
		margin-right: 8%;
	}


	.left1-text h2 {
		float: right;
		text-transform: uppercase;
		font-size: 26px;	
		margin-right: 15%;
	}

	.left1-text h1 {
		float: right;	
		text-transform: uppercase;
		margin-left: 45%;	
		font-size: 28px;
		margin-right: 11%;
	}

	.left2-text {
		font-size: 14px;
	}

	.right-row2-text {
		font-size: 16px;
	}

	.right-row1-text  h3{
		font-size: 16px;
	}

	.right-row1-text  h4{
		font-size: 14px;
	}

	.footer-row1 {
		margin-bottom: 32px;
	}


	.footer-row1-left h1 {
		font-size: 40px;
		margin-bottom: 20px;
	}

	.footer-row1-left p {
		font-size: 17px;
	}


	.footer-row1-right input[type='text'] {
		width: 100%;
		font-size: 20px;
		padding: 4px;
		border: 1px solid #fff;
		margin-top: 12px; 
	}

	
	.footer-row1-right label {
		font-size: 20px;
		margin-top: 12px; 
	}

	.footer-row1-right .subscrible {
		padding: 8px 32px;
		border-radius: 2px;
		margin-top: 12px;
		font-weight: 600;
		font-size: 20px;
		border-radius: 5px;
	}

	.footer-row2 {
		margin-left: 20px;
		margin-right: 80px; 
	}

	.footer-row2-left {
		font-size: 16px;
		margin-bottom: 16px;
		margin-top: 16px;
	}


	.footer-row2-left p {
		margin-right: 45px;
		
	}
	.footer-row2-left > div {
		margin-top: 16px;
	}


	.footer-row2-right {
		font-size: 16px;
		margin-bottom: 16px;
		margin-top: 16px;
	}

	.footer-row2-right p {
		margin-left: 45px;
	}

	.footer-row2 .footer-social {
		font-size: 16px;
	}
}
