* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body{
	background-color:#e4e4e4;
}

#banner img:hover { 
	opacity: 0.5;
 }

#main-menu {
	background-color: white;
	padding: 15px;
	text-align: center;
}
#main-menu a {
				font-size:20px;
				text-decoration:none;
				margin:5px;
}


#main-menu a:link {
	color:black
}

#main-menu a:visited {
	color:grey;
}

/*visited phải trươc hover*/
#main-menu a:hover{
	color:#purple;
}
#main-menu a:active{
	color:#green;
}

#main-menu a.active{
	 font-weight: bold;
}

.wrap {
	max-width: 1024px;
	margin: auto;
}


/*.no-float{
	clear:both;
}*/
/*tao them class no-float cho cac phan tu sau*/
/*clear: both dung cho phan tu dang sau khong bi troi*/

#main-content{ 
	overflow: auto
}

/*overflow:auto dung cho class main-content (phần tử cha của float
khong bi chieu cao bang 0
boc duoc cac phan tu con*/




/*anh nen co hinh vuong thi background ben ngoai moi tron*/
